body {
  font-family: Arial, sans-serif;
  padding: 2rem;
  background: #f5f5f5;
}

h1 {
  text-align: center;
  color: #333;
}

#products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.product-card {
  background: white;
  padding: 1rem;
  border-radius: 10px;
  width: 200px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.product-card h3 {
  margin: 0.5rem 0;
  font-size: 1.1rem;
}

.buyNowBtn{

  background-color: aquamarine;
  padding: 0.4rem 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
